<div class="container_browser">
  <mat-icon>keyboard_arrow_left</mat-icon>
  <!-- <div class="box-row"> -->
  <div class="horizontal-scroll-container">
    <div *ngFor="let number of numbers" class="box-exp">
      <img
        src="assets/download.png"
        class="log-image"
        alt="Image Description"
      />
    </div>
  </div>
  <!-- <div class="box-exp"></div> -->
  <!-- </div> -->
  <mat-icon>keyboard_arrow_right</mat-icon>
</div>
<div class="container_product">
  <h2 style="color: azure">Qatar - Doha offers in D4D Online</h2>
  <mat-grid-list cols="6">
    <mat-grid-tile>
      <div class="brow-container">
        <div style="height: 65%">
          <img
            src="assets/browsers/1.png"
            class="brow-image"
            alt="Image Description"
          />

          <p>afygiAFWr</p>
        </div>
      </div>
    </mat-grid-tile>

    <mat-grid-tile
      ><div style="background-color: aqua; height: 250px; width: 150px"></div
    ></mat-grid-tile>

    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile
      ><div style="background-color: aqua; height: 250px; width: 150px"></div
    ></mat-grid-tile>
    <mat-grid-tile
      ><div style="background-color: aqua; height: 250px; width: 150px"></div
    ></mat-grid-tile>
    <mat-grid-tile
      ><div style="background-color: aqua; height: 250px; width: 150px"></div
    ></mat-grid-tile>
    <mat-grid-tile
      ><div style="background-color: aqua; height: 250px; width: 150px"></div
    ></mat-grid-tile>
    <mat-grid-tile
      ><div style="background-color: aqua; height: 250px; width: 150px"></div
    ></mat-grid-tile>
    <mat-grid-tile
      ><div style="background-color: aqua; height: 250px; width: 150px"></div
    ></mat-grid-tile>
  </mat-grid-list>
</div>
