/* sidebar.component.css */

// .sidebar {
//   width: 250px;
//   height: 100%;
//   background-color: #3f51b5;
//   color: #fff;
//   padding-top: 20px;
//   margin: 20px;
// }
.sidebar {
  width: 250px;
  padding-top: 20px;
  padding-left: 20px;
  // background-color: #3f51b5;
  // color: #fff;
}

.category-heading {
  display: flex;
  align-items: center;
  padding: 0px 8px 0px 10px;
  display: flex;
  justify-content: space-between;
}

.category-container {
  overflow: hidden;
  min-height: 35px;
  margin-left: 5px;
  transition: all 0.3s ease;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
